<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.pineda.notebooklm-proxy</string>
  <key>ProgramArguments</key>
  <array>
    <string>__NODE_BIN__</string>
    <string>__REPO_ROOT__/services/notebooklm-proxy/server.mjs</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PORT</key>
    <string>__PORT__</string>
    <key>NOTEBOOKLM_NOTEBOOK_ID</key>
    <string>__NOTEBOOKLM_NOTEBOOK_ID__</string>
    <key>NOTEBOOKLM_PROXY_API_KEY</key>
    <string>__NOTEBOOKLM_PROXY_API_KEY__</string>
    <key>CHAT_NOTEBOOKLM_TIMEOUT_MS</key>
    <string>__CHAT_NOTEBOOKLM_TIMEOUT_MS__</string>
    <key>NLM_BIN</key>
    <string>__NLM_BIN__</string>
    <key>HOME</key>
    <string>__HOME_DIR__</string>
    <key>PATH</key>
    <string>/usr/local/bin:/opt/homebrew/bin:/usr/bin:/bin</string>
  </dict>
  <key>WorkingDirectory</key>
  <string>__REPO_ROOT__</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/tmp/notebooklm-proxy.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/notebooklm-proxy.err</string>
</dict>
</plist>
